.random-btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 100px;
}

.submit-btn {
  font-size: x-large;
  width: 200px;
  height: 75px;
}

.ingredient-title {
    display: block;
    height: 0px;
}

.ingredient-wrapper {
  /* width: 100%; */
  width:100%;
  height: 300px;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}

.ingredients {
    text-align:center;
  width:100%;
  height:25%;
  padding:10px;
}