body {
  font-family: "Kalam", cursive;
}

.logo-title {
  color: white;
  display: inline;
  padding-right: 30px;
  margin-top: 12.5px;
  position: absolute;
}

.sign-out-btn {
  padding-right: 10px;
}
