body {
  font-family: "Kalam", cursive;
}

.logo-title {
  color: white;
  display: inline;
  margin-top: 10px;
  position: absolute;
  font-family: 'Charm', cursive;
}

.sign-out-btn {
  padding-right: 10px;
}
