body {
  background-color: bisque;
}

.main-logo {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 3px 3px 10px #333;
  border-radius: 15px;
}

.main-logo-img {
  height: 250px;
  width: 250px;
}

.main-logo-title {
  font-family: "Charm", cursive;
  font-size: 45px;
  font-weight: 600;
}

.search {
  margin: 0 auto;
  width: 55.75%;
  padding: 100px;
}

.recipe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe {
  padding: 20px;
  flex-grow: 4;
}

.recipe-title {
  list-style: none;
  display: inline;
}

.recipe-image {
  height: 100%;
}

.card {
  border-radius: 15px;
}

.ingredient-list {
  display: flex;
}

.ingredient-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
}

.used-ingredients {
  color: green;
}

.missing-ingredients {
  color: red;
}

.unused-ingredients {
  color: rgb(154, 154, 62);
}

.source-url {
  display: block;
  margin: 20% auto;
}

.card-body {
  width: 70%;
  float: left;
}
