body {
    background-color: bisque;
}

.search {
  margin: 0 auto;
  width: 50%;
  padding: 100px;
}

.recipe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe {
    padding: 20px;
    flex-grow: 4;
}

.recipe-title {
  list-style: none;
  display: inline;
}

.recipe-image {
  height: 100%;
}

.card {
    border-radius: 15px;
}

.ingredient-list {
    display: flex;
}

.ingredient-wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
}

.used-ingredients {
    color: green;
}

.missing-ingredients {
    color: red;
}

.unused-ingredients {
    color: rgb(154, 154, 62);
}

.source-url {
    display: block;
    margin-top: 10%;
  }
  
  .card-body {
    width: 70%;
    float: left;
  }
  